/* margin/padding functions */
/* spacers */
.spacer200 {
  height: 200px;
}
.spacerv200 {
  width: 200px;
  height: 1px;
}
.spacer199 {
  height: 199px;
}
.spacerv199 {
  width: 199px;
  height: 1px;
}
.spacer198 {
  height: 198px;
}
.spacerv198 {
  width: 198px;
  height: 1px;
}
.spacer197 {
  height: 197px;
}
.spacerv197 {
  width: 197px;
  height: 1px;
}
.spacer196 {
  height: 196px;
}
.spacerv196 {
  width: 196px;
  height: 1px;
}
.spacer195 {
  height: 195px;
}
.spacerv195 {
  width: 195px;
  height: 1px;
}
.spacer194 {
  height: 194px;
}
.spacerv194 {
  width: 194px;
  height: 1px;
}
.spacer193 {
  height: 193px;
}
.spacerv193 {
  width: 193px;
  height: 1px;
}
.spacer192 {
  height: 192px;
}
.spacerv192 {
  width: 192px;
  height: 1px;
}
.spacer191 {
  height: 191px;
}
.spacerv191 {
  width: 191px;
  height: 1px;
}
.spacer190 {
  height: 190px;
}
.spacerv190 {
  width: 190px;
  height: 1px;
}
.spacer189 {
  height: 189px;
}
.spacerv189 {
  width: 189px;
  height: 1px;
}
.spacer188 {
  height: 188px;
}
.spacerv188 {
  width: 188px;
  height: 1px;
}
.spacer187 {
  height: 187px;
}
.spacerv187 {
  width: 187px;
  height: 1px;
}
.spacer186 {
  height: 186px;
}
.spacerv186 {
  width: 186px;
  height: 1px;
}
.spacer185 {
  height: 185px;
}
.spacerv185 {
  width: 185px;
  height: 1px;
}
.spacer184 {
  height: 184px;
}
.spacerv184 {
  width: 184px;
  height: 1px;
}
.spacer183 {
  height: 183px;
}
.spacerv183 {
  width: 183px;
  height: 1px;
}
.spacer182 {
  height: 182px;
}
.spacerv182 {
  width: 182px;
  height: 1px;
}
.spacer181 {
  height: 181px;
}
.spacerv181 {
  width: 181px;
  height: 1px;
}
.spacer180 {
  height: 180px;
}
.spacerv180 {
  width: 180px;
  height: 1px;
}
.spacer179 {
  height: 179px;
}
.spacerv179 {
  width: 179px;
  height: 1px;
}
.spacer178 {
  height: 178px;
}
.spacerv178 {
  width: 178px;
  height: 1px;
}
.spacer177 {
  height: 177px;
}
.spacerv177 {
  width: 177px;
  height: 1px;
}
.spacer176 {
  height: 176px;
}
.spacerv176 {
  width: 176px;
  height: 1px;
}
.spacer175 {
  height: 175px;
}
.spacerv175 {
  width: 175px;
  height: 1px;
}
.spacer174 {
  height: 174px;
}
.spacerv174 {
  width: 174px;
  height: 1px;
}
.spacer173 {
  height: 173px;
}
.spacerv173 {
  width: 173px;
  height: 1px;
}
.spacer172 {
  height: 172px;
}
.spacerv172 {
  width: 172px;
  height: 1px;
}
.spacer171 {
  height: 171px;
}
.spacerv171 {
  width: 171px;
  height: 1px;
}
.spacer170 {
  height: 170px;
}
.spacerv170 {
  width: 170px;
  height: 1px;
}
.spacer169 {
  height: 169px;
}
.spacerv169 {
  width: 169px;
  height: 1px;
}
.spacer168 {
  height: 168px;
}
.spacerv168 {
  width: 168px;
  height: 1px;
}
.spacer167 {
  height: 167px;
}
.spacerv167 {
  width: 167px;
  height: 1px;
}
.spacer166 {
  height: 166px;
}
.spacerv166 {
  width: 166px;
  height: 1px;
}
.spacer165 {
  height: 165px;
}
.spacerv165 {
  width: 165px;
  height: 1px;
}
.spacer164 {
  height: 164px;
}
.spacerv164 {
  width: 164px;
  height: 1px;
}
.spacer163 {
  height: 163px;
}
.spacerv163 {
  width: 163px;
  height: 1px;
}
.spacer162 {
  height: 162px;
}
.spacerv162 {
  width: 162px;
  height: 1px;
}
.spacer161 {
  height: 161px;
}
.spacerv161 {
  width: 161px;
  height: 1px;
}
.spacer160 {
  height: 160px;
}
.spacerv160 {
  width: 160px;
  height: 1px;
}
.spacer159 {
  height: 159px;
}
.spacerv159 {
  width: 159px;
  height: 1px;
}
.spacer158 {
  height: 158px;
}
.spacerv158 {
  width: 158px;
  height: 1px;
}
.spacer157 {
  height: 157px;
}
.spacerv157 {
  width: 157px;
  height: 1px;
}
.spacer156 {
  height: 156px;
}
.spacerv156 {
  width: 156px;
  height: 1px;
}
.spacer155 {
  height: 155px;
}
.spacerv155 {
  width: 155px;
  height: 1px;
}
.spacer154 {
  height: 154px;
}
.spacerv154 {
  width: 154px;
  height: 1px;
}
.spacer153 {
  height: 153px;
}
.spacerv153 {
  width: 153px;
  height: 1px;
}
.spacer152 {
  height: 152px;
}
.spacerv152 {
  width: 152px;
  height: 1px;
}
.spacer151 {
  height: 151px;
}
.spacerv151 {
  width: 151px;
  height: 1px;
}
.spacer150 {
  height: 150px;
}
.spacerv150 {
  width: 150px;
  height: 1px;
}
.spacer149 {
  height: 149px;
}
.spacerv149 {
  width: 149px;
  height: 1px;
}
.spacer148 {
  height: 148px;
}
.spacerv148 {
  width: 148px;
  height: 1px;
}
.spacer147 {
  height: 147px;
}
.spacerv147 {
  width: 147px;
  height: 1px;
}
.spacer146 {
  height: 146px;
}
.spacerv146 {
  width: 146px;
  height: 1px;
}
.spacer145 {
  height: 145px;
}
.spacerv145 {
  width: 145px;
  height: 1px;
}
.spacer144 {
  height: 144px;
}
.spacerv144 {
  width: 144px;
  height: 1px;
}
.spacer143 {
  height: 143px;
}
.spacerv143 {
  width: 143px;
  height: 1px;
}
.spacer142 {
  height: 142px;
}
.spacerv142 {
  width: 142px;
  height: 1px;
}
.spacer141 {
  height: 141px;
}
.spacerv141 {
  width: 141px;
  height: 1px;
}
.spacer140 {
  height: 140px;
}
.spacerv140 {
  width: 140px;
  height: 1px;
}
.spacer139 {
  height: 139px;
}
.spacerv139 {
  width: 139px;
  height: 1px;
}
.spacer138 {
  height: 138px;
}
.spacerv138 {
  width: 138px;
  height: 1px;
}
.spacer137 {
  height: 137px;
}
.spacerv137 {
  width: 137px;
  height: 1px;
}
.spacer136 {
  height: 136px;
}
.spacerv136 {
  width: 136px;
  height: 1px;
}
.spacer135 {
  height: 135px;
}
.spacerv135 {
  width: 135px;
  height: 1px;
}
.spacer134 {
  height: 134px;
}
.spacerv134 {
  width: 134px;
  height: 1px;
}
.spacer133 {
  height: 133px;
}
.spacerv133 {
  width: 133px;
  height: 1px;
}
.spacer132 {
  height: 132px;
}
.spacerv132 {
  width: 132px;
  height: 1px;
}
.spacer131 {
  height: 131px;
}
.spacerv131 {
  width: 131px;
  height: 1px;
}
.spacer130 {
  height: 130px;
}
.spacerv130 {
  width: 130px;
  height: 1px;
}
.spacer129 {
  height: 129px;
}
.spacerv129 {
  width: 129px;
  height: 1px;
}
.spacer128 {
  height: 128px;
}
.spacerv128 {
  width: 128px;
  height: 1px;
}
.spacer127 {
  height: 127px;
}
.spacerv127 {
  width: 127px;
  height: 1px;
}
.spacer126 {
  height: 126px;
}
.spacerv126 {
  width: 126px;
  height: 1px;
}
.spacer125 {
  height: 125px;
}
.spacerv125 {
  width: 125px;
  height: 1px;
}
.spacer124 {
  height: 124px;
}
.spacerv124 {
  width: 124px;
  height: 1px;
}
.spacer123 {
  height: 123px;
}
.spacerv123 {
  width: 123px;
  height: 1px;
}
.spacer122 {
  height: 122px;
}
.spacerv122 {
  width: 122px;
  height: 1px;
}
.spacer121 {
  height: 121px;
}
.spacerv121 {
  width: 121px;
  height: 1px;
}
.spacer120 {
  height: 120px;
}
.spacerv120 {
  width: 120px;
  height: 1px;
}
.spacer119 {
  height: 119px;
}
.spacerv119 {
  width: 119px;
  height: 1px;
}
.spacer118 {
  height: 118px;
}
.spacerv118 {
  width: 118px;
  height: 1px;
}
.spacer117 {
  height: 117px;
}
.spacerv117 {
  width: 117px;
  height: 1px;
}
.spacer116 {
  height: 116px;
}
.spacerv116 {
  width: 116px;
  height: 1px;
}
.spacer115 {
  height: 115px;
}
.spacerv115 {
  width: 115px;
  height: 1px;
}
.spacer114 {
  height: 114px;
}
.spacerv114 {
  width: 114px;
  height: 1px;
}
.spacer113 {
  height: 113px;
}
.spacerv113 {
  width: 113px;
  height: 1px;
}
.spacer112 {
  height: 112px;
}
.spacerv112 {
  width: 112px;
  height: 1px;
}
.spacer111 {
  height: 111px;
}
.spacerv111 {
  width: 111px;
  height: 1px;
}
.spacer110 {
  height: 110px;
}
.spacerv110 {
  width: 110px;
  height: 1px;
}
.spacer109 {
  height: 109px;
}
.spacerv109 {
  width: 109px;
  height: 1px;
}
.spacer108 {
  height: 108px;
}
.spacerv108 {
  width: 108px;
  height: 1px;
}
.spacer107 {
  height: 107px;
}
.spacerv107 {
  width: 107px;
  height: 1px;
}
.spacer106 {
  height: 106px;
}
.spacerv106 {
  width: 106px;
  height: 1px;
}
.spacer105 {
  height: 105px;
}
.spacerv105 {
  width: 105px;
  height: 1px;
}
.spacer104 {
  height: 104px;
}
.spacerv104 {
  width: 104px;
  height: 1px;
}
.spacer103 {
  height: 103px;
}
.spacerv103 {
  width: 103px;
  height: 1px;
}
.spacer102 {
  height: 102px;
}
.spacerv102 {
  width: 102px;
  height: 1px;
}
.spacer101 {
  height: 101px;
}
.spacerv101 {
  width: 101px;
  height: 1px;
}
.spacer100 {
  height: 100px;
}
.spacerv100 {
  width: 100px;
  height: 1px;
}
.spacer99 {
  height: 99px;
}
.spacerv99 {
  width: 99px;
  height: 1px;
}
.spacer98 {
  height: 98px;
}
.spacerv98 {
  width: 98px;
  height: 1px;
}
.spacer97 {
  height: 97px;
}
.spacerv97 {
  width: 97px;
  height: 1px;
}
.spacer96 {
  height: 96px;
}
.spacerv96 {
  width: 96px;
  height: 1px;
}
.spacer95 {
  height: 95px;
}
.spacerv95 {
  width: 95px;
  height: 1px;
}
.spacer94 {
  height: 94px;
}
.spacerv94 {
  width: 94px;
  height: 1px;
}
.spacer93 {
  height: 93px;
}
.spacerv93 {
  width: 93px;
  height: 1px;
}
.spacer92 {
  height: 92px;
}
.spacerv92 {
  width: 92px;
  height: 1px;
}
.spacer91 {
  height: 91px;
}
.spacerv91 {
  width: 91px;
  height: 1px;
}
.spacer90 {
  height: 90px;
}
.spacerv90 {
  width: 90px;
  height: 1px;
}
.spacer89 {
  height: 89px;
}
.spacerv89 {
  width: 89px;
  height: 1px;
}
.spacer88 {
  height: 88px;
}
.spacerv88 {
  width: 88px;
  height: 1px;
}
.spacer87 {
  height: 87px;
}
.spacerv87 {
  width: 87px;
  height: 1px;
}
.spacer86 {
  height: 86px;
}
.spacerv86 {
  width: 86px;
  height: 1px;
}
.spacer85 {
  height: 85px;
}
.spacerv85 {
  width: 85px;
  height: 1px;
}
.spacer84 {
  height: 84px;
}
.spacerv84 {
  width: 84px;
  height: 1px;
}
.spacer83 {
  height: 83px;
}
.spacerv83 {
  width: 83px;
  height: 1px;
}
.spacer82 {
  height: 82px;
}
.spacerv82 {
  width: 82px;
  height: 1px;
}
.spacer81 {
  height: 81px;
}
.spacerv81 {
  width: 81px;
  height: 1px;
}
.spacer80 {
  height: 80px;
}
.spacerv80 {
  width: 80px;
  height: 1px;
}
.spacer79 {
  height: 79px;
}
.spacerv79 {
  width: 79px;
  height: 1px;
}
.spacer78 {
  height: 78px;
}
.spacerv78 {
  width: 78px;
  height: 1px;
}
.spacer77 {
  height: 77px;
}
.spacerv77 {
  width: 77px;
  height: 1px;
}
.spacer76 {
  height: 76px;
}
.spacerv76 {
  width: 76px;
  height: 1px;
}
.spacer75 {
  height: 75px;
}
.spacerv75 {
  width: 75px;
  height: 1px;
}
.spacer74 {
  height: 74px;
}
.spacerv74 {
  width: 74px;
  height: 1px;
}
.spacer73 {
  height: 73px;
}
.spacerv73 {
  width: 73px;
  height: 1px;
}
.spacer72 {
  height: 72px;
}
.spacerv72 {
  width: 72px;
  height: 1px;
}
.spacer71 {
  height: 71px;
}
.spacerv71 {
  width: 71px;
  height: 1px;
}
.spacer70 {
  height: 70px;
}
.spacerv70 {
  width: 70px;
  height: 1px;
}
.spacer69 {
  height: 69px;
}
.spacerv69 {
  width: 69px;
  height: 1px;
}
.spacer68 {
  height: 68px;
}
.spacerv68 {
  width: 68px;
  height: 1px;
}
.spacer67 {
  height: 67px;
}
.spacerv67 {
  width: 67px;
  height: 1px;
}
.spacer66 {
  height: 66px;
}
.spacerv66 {
  width: 66px;
  height: 1px;
}
.spacer65 {
  height: 65px;
}
.spacerv65 {
  width: 65px;
  height: 1px;
}
.spacer64 {
  height: 64px;
}
.spacerv64 {
  width: 64px;
  height: 1px;
}
.spacer63 {
  height: 63px;
}
.spacerv63 {
  width: 63px;
  height: 1px;
}
.spacer62 {
  height: 62px;
}
.spacerv62 {
  width: 62px;
  height: 1px;
}
.spacer61 {
  height: 61px;
}
.spacerv61 {
  width: 61px;
  height: 1px;
}
.spacer60 {
  height: 60px;
}
.spacerv60 {
  width: 60px;
  height: 1px;
}
.spacer59 {
  height: 59px;
}
.spacerv59 {
  width: 59px;
  height: 1px;
}
.spacer58 {
  height: 58px;
}
.spacerv58 {
  width: 58px;
  height: 1px;
}
.spacer57 {
  height: 57px;
}
.spacerv57 {
  width: 57px;
  height: 1px;
}
.spacer56 {
  height: 56px;
}
.spacerv56 {
  width: 56px;
  height: 1px;
}
.spacer55 {
  height: 55px;
}
.spacerv55 {
  width: 55px;
  height: 1px;
}
.spacer54 {
  height: 54px;
}
.spacerv54 {
  width: 54px;
  height: 1px;
}
.spacer53 {
  height: 53px;
}
.spacerv53 {
  width: 53px;
  height: 1px;
}
.spacer52 {
  height: 52px;
}
.spacerv52 {
  width: 52px;
  height: 1px;
}
.spacer51 {
  height: 51px;
}
.spacerv51 {
  width: 51px;
  height: 1px;
}
.spacer50 {
  height: 50px;
}
.spacerv50 {
  width: 50px;
  height: 1px;
}
.spacer49 {
  height: 49px;
}
.spacerv49 {
  width: 49px;
  height: 1px;
}
.spacer48 {
  height: 48px;
}
.spacerv48 {
  width: 48px;
  height: 1px;
}
.spacer47 {
  height: 47px;
}
.spacerv47 {
  width: 47px;
  height: 1px;
}
.spacer46 {
  height: 46px;
}
.spacerv46 {
  width: 46px;
  height: 1px;
}
.spacer45 {
  height: 45px;
}
.spacerv45 {
  width: 45px;
  height: 1px;
}
.spacer44 {
  height: 44px;
}
.spacerv44 {
  width: 44px;
  height: 1px;
}
.spacer43 {
  height: 43px;
}
.spacerv43 {
  width: 43px;
  height: 1px;
}
.spacer42 {
  height: 42px;
}
.spacerv42 {
  width: 42px;
  height: 1px;
}
.spacer41 {
  height: 41px;
}
.spacerv41 {
  width: 41px;
  height: 1px;
}
.spacer40 {
  height: 40px;
}
.spacerv40 {
  width: 40px;
  height: 1px;
}
.spacer39 {
  height: 39px;
}
.spacerv39 {
  width: 39px;
  height: 1px;
}
.spacer38 {
  height: 38px;
}
.spacerv38 {
  width: 38px;
  height: 1px;
}
.spacer37 {
  height: 37px;
}
.spacerv37 {
  width: 37px;
  height: 1px;
}
.spacer36 {
  height: 36px;
}
.spacerv36 {
  width: 36px;
  height: 1px;
}
.spacer35 {
  height: 35px;
}
.spacerv35 {
  width: 35px;
  height: 1px;
}
.spacer34 {
  height: 34px;
}
.spacerv34 {
  width: 34px;
  height: 1px;
}
.spacer33 {
  height: 33px;
}
.spacerv33 {
  width: 33px;
  height: 1px;
}
.spacer32 {
  height: 32px;
}
.spacerv32 {
  width: 32px;
  height: 1px;
}
.spacer31 {
  height: 31px;
}
.spacerv31 {
  width: 31px;
  height: 1px;
}
.spacer30 {
  height: 30px;
}
.spacerv30 {
  width: 30px;
  height: 1px;
}
.spacer29 {
  height: 29px;
}
.spacerv29 {
  width: 29px;
  height: 1px;
}
.spacer28 {
  height: 28px;
}
.spacerv28 {
  width: 28px;
  height: 1px;
}
.spacer27 {
  height: 27px;
}
.spacerv27 {
  width: 27px;
  height: 1px;
}
.spacer26 {
  height: 26px;
}
.spacerv26 {
  width: 26px;
  height: 1px;
}
.spacer25 {
  height: 25px;
}
.spacerv25 {
  width: 25px;
  height: 1px;
}
.spacer24 {
  height: 24px;
}
.spacerv24 {
  width: 24px;
  height: 1px;
}
.spacer23 {
  height: 23px;
}
.spacerv23 {
  width: 23px;
  height: 1px;
}
.spacer22 {
  height: 22px;
}
.spacerv22 {
  width: 22px;
  height: 1px;
}
.spacer21 {
  height: 21px;
}
.spacerv21 {
  width: 21px;
  height: 1px;
}
.spacer20 {
  height: 20px;
}
.spacerv20 {
  width: 20px;
  height: 1px;
}
.spacer19 {
  height: 19px;
}
.spacerv19 {
  width: 19px;
  height: 1px;
}
.spacer18 {
  height: 18px;
}
.spacerv18 {
  width: 18px;
  height: 1px;
}
.spacer17 {
  height: 17px;
}
.spacerv17 {
  width: 17px;
  height: 1px;
}
.spacer16 {
  height: 16px;
}
.spacerv16 {
  width: 16px;
  height: 1px;
}
.spacer15 {
  height: 15px;
}
.spacerv15 {
  width: 15px;
  height: 1px;
}
.spacer14 {
  height: 14px;
}
.spacerv14 {
  width: 14px;
  height: 1px;
}
.spacer13 {
  height: 13px;
}
.spacerv13 {
  width: 13px;
  height: 1px;
}
.spacer12 {
  height: 12px;
}
.spacerv12 {
  width: 12px;
  height: 1px;
}
.spacer11 {
  height: 11px;
}
.spacerv11 {
  width: 11px;
  height: 1px;
}
.spacer10 {
  height: 10px;
}
.spacerv10 {
  width: 10px;
  height: 1px;
}
.spacer9 {
  height: 9px;
}
.spacerv9 {
  width: 9px;
  height: 1px;
}
.spacer8 {
  height: 8px;
}
.spacerv8 {
  width: 8px;
  height: 1px;
}
.spacer7 {
  height: 7px;
}
.spacerv7 {
  width: 7px;
  height: 1px;
}
.spacer6 {
  height: 6px;
}
.spacerv6 {
  width: 6px;
  height: 1px;
}
.spacer5 {
  height: 5px;
}
.spacerv5 {
  width: 5px;
  height: 1px;
}
.spacer4 {
  height: 4px;
}
.spacerv4 {
  width: 4px;
  height: 1px;
}
.spacer3 {
  height: 3px;
}
.spacerv3 {
  width: 3px;
  height: 1px;
}
.spacer2 {
  height: 2px;
}
.spacerv2 {
  width: 2px;
  height: 1px;
}
.spacer1 {
  height: 1px;
}
.spacerv1 {
  width: 1px;
  height: 1px;
}
.spacer0 {
  height: 0px;
}
.spacerv0 {
  width: 0px;
  height: 1px;
}
/* padding */
.pad40 {
  padding: 40px;
}
.pad40t {
  padding-top: 40px;
}
.pad40b {
  padding-bottom: 40px;
}
.pad40r {
  padding-right: 40px;
}
.pad40l {
  padding-left: 40px;
}
.pad38 {
  padding: 38px;
}
.pad38t {
  padding-top: 38px;
}
.pad38b {
  padding-bottom: 38px;
}
.pad38r {
  padding-right: 38px;
}
.pad38l {
  padding-left: 38px;
}
.pad36 {
  padding: 36px;
}
.pad36t {
  padding-top: 36px;
}
.pad36b {
  padding-bottom: 36px;
}
.pad36r {
  padding-right: 36px;
}
.pad36l {
  padding-left: 36px;
}
.pad34 {
  padding: 34px;
}
.pad34t {
  padding-top: 34px;
}
.pad34b {
  padding-bottom: 34px;
}
.pad34r {
  padding-right: 34px;
}
.pad34l {
  padding-left: 34px;
}
.pad32 {
  padding: 32px;
}
.pad32t {
  padding-top: 32px;
}
.pad32b {
  padding-bottom: 32px;
}
.pad32r {
  padding-right: 32px;
}
.pad32l {
  padding-left: 32px;
}
.pad30 {
  padding: 30px;
}
.pad30t {
  padding-top: 30px;
}
.pad30b {
  padding-bottom: 30px;
}
.pad30r {
  padding-right: 30px;
}
.pad30l {
  padding-left: 30px;
}
.pad28 {
  padding: 28px;
}
.pad28t {
  padding-top: 28px;
}
.pad28b {
  padding-bottom: 28px;
}
.pad28r {
  padding-right: 28px;
}
.pad28l {
  padding-left: 28px;
}
.pad26 {
  padding: 26px;
}
.pad26t {
  padding-top: 26px;
}
.pad26b {
  padding-bottom: 26px;
}
.pad26r {
  padding-right: 26px;
}
.pad26l {
  padding-left: 26px;
}
.pad24 {
  padding: 24px;
}
.pad24t {
  padding-top: 24px;
}
.pad24b {
  padding-bottom: 24px;
}
.pad24r {
  padding-right: 24px;
}
.pad24l {
  padding-left: 24px;
}
.pad22 {
  padding: 22px;
}
.pad22t {
  padding-top: 22px;
}
.pad22b {
  padding-bottom: 22px;
}
.pad22r {
  padding-right: 22px;
}
.pad22l {
  padding-left: 22px;
}
.pad20 {
  padding: 20px;
}
.pad20t {
  padding-top: 20px;
}
.pad20b {
  padding-bottom: 20px;
}
.pad20r {
  padding-right: 20px;
}
.pad20l {
  padding-left: 20px;
}
.pad18 {
  padding: 18px;
}
.pad18t {
  padding-top: 18px;
}
.pad18b {
  padding-bottom: 18px;
}
.pad18r {
  padding-right: 18px;
}
.pad18l {
  padding-left: 18px;
}
.pad16 {
  padding: 16px;
}
.pad16t {
  padding-top: 16px;
}
.pad16b {
  padding-bottom: 16px;
}
.pad16r {
  padding-right: 16px;
}
.pad16l {
  padding-left: 16px;
}
.pad14 {
  padding: 14px;
}
.pad14t {
  padding-top: 14px;
}
.pad14b {
  padding-bottom: 14px;
}
.pad14r {
  padding-right: 14px;
}
.pad14l {
  padding-left: 14px;
}
.pad12 {
  padding: 12px;
}
.pad12t {
  padding-top: 12px;
}
.pad12b {
  padding-bottom: 12px;
}
.pad12r {
  padding-right: 12px;
}
.pad12l {
  padding-left: 12px;
}
.pad10 {
  padding: 10px;
}
.pad10t {
  padding-top: 10px;
}
.pad10b {
  padding-bottom: 10px;
}
.pad10r {
  padding-right: 10px;
}
.pad10l {
  padding-left: 10px;
}
.pad8 {
  padding: 8px;
}
.pad8t {
  padding-top: 8px;
}
.pad8b {
  padding-bottom: 8px;
}
.pad8r {
  padding-right: 8px;
}
.pad8l {
  padding-left: 8px;
}
.pad6 {
  padding: 6px;
}
.pad6t {
  padding-top: 6px;
}
.pad6b {
  padding-bottom: 6px;
}
.pad6r {
  padding-right: 6px;
}
.pad6l {
  padding-left: 6px;
}
.pad4 {
  padding: 4px;
}
.pad4t {
  padding-top: 4px;
}
.pad4b {
  padding-bottom: 4px;
}
.pad4r {
  padding-right: 4px;
}
.pad4l {
  padding-left: 4px;
}
.pad2 {
  padding: 2px;
}
.pad2t {
  padding-top: 2px;
}
.pad2b {
  padding-bottom: 2px;
}
.pad2r {
  padding-right: 2px;
}
.pad2l {
  padding-left: 2px;
}
.pad0 {
  padding: 0px;
}
.pad0t {
  padding-top: 0px;
}
.pad0b {
  padding-bottom: 0px;
}
.pad0r {
  padding-right: 0px;
}
.pad0l {
  padding-left: 0px;
}
/* margins */
.mar40 {
  margin: 40px;
}
.mar40t {
  margin-top: 40px;
}
.mar40b {
  margin-bottom: 40px;
}
.mar40r {
  margin-right: 40px;
}
.mar40l {
  margin-left: 40px;
}
.mar38 {
  margin: 38px;
}
.mar38t {
  margin-top: 38px;
}
.mar38b {
  margin-bottom: 38px;
}
.mar38r {
  margin-right: 38px;
}
.mar38l {
  margin-left: 38px;
}
.mar36 {
  margin: 36px;
}
.mar36t {
  margin-top: 36px;
}
.mar36b {
  margin-bottom: 36px;
}
.mar36r {
  margin-right: 36px;
}
.mar36l {
  margin-left: 36px;
}
.mar34 {
  margin: 34px;
}
.mar34t {
  margin-top: 34px;
}
.mar34b {
  margin-bottom: 34px;
}
.mar34r {
  margin-right: 34px;
}
.mar34l {
  margin-left: 34px;
}
.mar32 {
  margin: 32px;
}
.mar32t {
  margin-top: 32px;
}
.mar32b {
  margin-bottom: 32px;
}
.mar32r {
  margin-right: 32px;
}
.mar32l {
  margin-left: 32px;
}
.mar30 {
  margin: 30px;
}
.mar30t {
  margin-top: 30px;
}
.mar30b {
  margin-bottom: 30px;
}
.mar30r {
  margin-right: 30px;
}
.mar30l {
  margin-left: 30px;
}
.mar28 {
  margin: 28px;
}
.mar28t {
  margin-top: 28px;
}
.mar28b {
  margin-bottom: 28px;
}
.mar28r {
  margin-right: 28px;
}
.mar28l {
  margin-left: 28px;
}
.mar26 {
  margin: 26px;
}
.mar26t {
  margin-top: 26px;
}
.mar26b {
  margin-bottom: 26px;
}
.mar26r {
  margin-right: 26px;
}
.mar26l {
  margin-left: 26px;
}
.mar24 {
  margin: 24px;
}
.mar24t {
  margin-top: 24px;
}
.mar24b {
  margin-bottom: 24px;
}
.mar24r {
  margin-right: 24px;
}
.mar24l {
  margin-left: 24px;
}
.mar22 {
  margin: 22px;
}
.mar22t {
  margin-top: 22px;
}
.mar22b {
  margin-bottom: 22px;
}
.mar22r {
  margin-right: 22px;
}
.mar22l {
  margin-left: 22px;
}
.mar20 {
  margin: 20px;
}
.mar20t {
  margin-top: 20px;
}
.mar20b {
  margin-bottom: 20px;
}
.mar20r {
  margin-right: 20px;
}
.mar20l {
  margin-left: 20px;
}
.mar18 {
  margin: 18px;
}
.mar18t {
  margin-top: 18px;
}
.mar18b {
  margin-bottom: 18px;
}
.mar18r {
  margin-right: 18px;
}
.mar18l {
  margin-left: 18px;
}
.mar16 {
  margin: 16px;
}
.mar16t {
  margin-top: 16px;
}
.mar16b {
  margin-bottom: 16px;
}
.mar16r {
  margin-right: 16px;
}
.mar16l {
  margin-left: 16px;
}
.mar14 {
  margin: 14px;
}
.mar14t {
  margin-top: 14px;
}
.mar14b {
  margin-bottom: 14px;
}
.mar14r {
  margin-right: 14px;
}
.mar14l {
  margin-left: 14px;
}
.mar12 {
  margin: 12px;
}
.mar12t {
  margin-top: 12px;
}
.mar12b {
  margin-bottom: 12px;
}
.mar12r {
  margin-right: 12px;
}
.mar12l {
  margin-left: 12px;
}
.mar10 {
  margin: 10px;
}
.mar10t {
  margin-top: 10px;
}
.mar10b {
  margin-bottom: 10px;
}
.mar10r {
  margin-right: 10px;
}
.mar10l {
  margin-left: 10px;
}
.mar8 {
  margin: 8px;
}
.mar8t {
  margin-top: 8px;
}
.mar8b {
  margin-bottom: 8px;
}
.mar8r {
  margin-right: 8px;
}
.mar8l {
  margin-left: 8px;
}
.mar6 {
  margin: 6px;
}
.mar6t {
  margin-top: 6px;
}
.mar6b {
  margin-bottom: 6px;
}
.mar6r {
  margin-right: 6px;
}
.mar6l {
  margin-left: 6px;
}
.mar4 {
  margin: 4px;
}
.mar4t {
  margin-top: 4px;
}
.mar4b {
  margin-bottom: 4px;
}
.mar4r {
  margin-right: 4px;
}
.mar4l {
  margin-left: 4px;
}
.mar2 {
  margin: 2px;
}
.mar2t {
  margin-top: 2px;
}
.mar2b {
  margin-bottom: 2px;
}
.mar2r {
  margin-right: 2px;
}
.mar2l {
  margin-left: 2px;
}
.mar0 {
  margin: 0px;
}
.mar0t {
  margin-top: 0px;
}
.mar0b {
  margin-bottom: 0px;
}
.mar0r {
  margin-right: 0px;
}
.mar0l {
  margin-left: 0px;
}
/* silly stuff */
/* placeholders */
/*
::-webkit-input-placeholder {
   color: @phcolor;
   font-family: @phfont;
}
:-moz-placeholder {
   color: @phcolor;  
   font-family: @phfont;
}
::-moz-placeholder {
   color: @phcolor;  
   font-family: @phfont;
}
:-ms-input-placeholder {  
   color: @phcolor;  
   font-family: @phfont;
}
*/
/* sizing */
.w300 {
  width: 300px;
}
.w20pc {
  width: 19.999999%;
  float: left;
}
.w25pc {
  width: 24.999999%;
  float: left;
}
.w33pc {
  width: 33.333333%;
  float: left;
}
.w37pc {
  width: 36.999999%;
  float: left;
}
.w40pc {
  width: 39.999999%;
  float: left;
}
.w45pc {
  width: 44.999999%;
  float: left;
}
.w49pc {
  width: 48.999999%;
  float: left;
}
.w50pc {
  width: 49.999999%;
  float: left;
}
.w60pc {
  width: 59.999999%;
  float: left;
}
.w63pc {
  width: 62.999999%;
  float: left;
}
.w66pc {
  width: 66.666666%;
  float: left;
}
.w75pc {
  width: 74.999999%;
  float: left;
}
.w80pc {
  width: 79.999999%;
  float: left;
}
.w100pc {
  width: 99.999999%;
  float: left;
}
.center540 {
  margin: 0 auto;
  max-width: 540px;
}
/* formatting */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.inline {
  display: inline;
}
.hide {
  display: none;
}
.pull-right {
  display: inline-block;
  float: right;
}
.pull-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  overflow: hidden;
}
.visible {
  overflow: visible;
}
/* colors */
/* Font faces we've used */
@font-face {
  font-family: 'RobotoLite';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/RobotoLight.woff) format('woff');
}
@font-face {
  font-family: 'RobotoLiteItalic';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/RobotLightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Roboto.woff) format('woff');
}
@font-face {
  font-family: 'RobotoItalic';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/RobotoItalic.woff) format('woff');
}
@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/RobotoBold.woff) format('woff');
}
@font-face {
  font-family: 'RobotoBoldItalic';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/RobotoItalic.woff) format('woff');
}
@font-face {
  font-family: 'LatoLite';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/assets/fonts/RobotoLite.woff) format('woff');
}
@font-face {
  font-family: 'LatoLiteItalic';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(/assets/fonts/LatoLiteItalic.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato'), url(/assets/fonts/Lato.woff) format('woff');
}
@font-face {
  font-family: 'LatoItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(/assets/fonts/LatoItalic.woff) format('woff');
}
@font-face {
  font-family: 'LatoBold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/LatoBold.woff) format('woff');
}
@font-face {
  font-family: 'LatoBoldItalic';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(/assets/fonts/LatoBoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Oleo';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script Swash Caps'), local('OleoScriptSwashCaps-Regular'), url(/assets/fonts/Oleo.woff) format('woff');
}
@font-face {
  font-family: 'Fatty';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Fatty.woff) format('woff');
}
.robotol {
  font-family: 'RobotoLite';
}
.robotoli {
  font-family: 'RobotoLiteItalic';
}
.roboto {
  font-family: 'Roboto';
}
.robotoi {
  font-family: 'RobotoLiteItalic';
}
.robotob {
  font-family: 'RobotoBold';
}
.robotobi {
  font-family: 'RobotoBoldItalic';
}
.latol {
  font-family: 'RobotoLite';
}
.lato {
  font-family: 'Lato';
}
.latob {
  font-family: 'LatoBold';
}
.latobi {
  font-family: 'LatoBoldItalic';
}
.latoi {
  font-family: 'LatoItalic';
}
.oleo {
  font-family: 'Oleo' !important;
}
.fatty {
  font-family: 'Fatty' !important;
}
.serif {
  font-family: 'serif';
}
/* font sizes */
.f10 {
  font-size: 10px;
  line-height: 14px;
}
.f12 {
  font-size: 12px;
  line-height: 16px;
}
.f14 {
  font-size: 14px;
  line-height: 18px;
}
.f16 {
  font-size: 16px;
  line-height: 20px;
}
.f18 {
  font-size: 18px;
  line-height: 22px;
}
.f20 {
  font-size: 20px;
  line-height: 24px;
}
/* this is editable through the admin page */
/* placeholder */
select.placeholder {
  color: #444444;
}
option:first-child {
  color: #444444;
}
::-webkit-input-placeholder {
  color: #444444;
}
:-moz-placeholder {
  color: #444444;
}
::-moz-placeholder {
  color: #444444;
}
:-ms-input-placeholder {
  color: #444444;
}
:focus::-webkit-input-placeholder {
  color: #eeeeee;
}
:focus:-moz-placeholder {
  color: #eeeeee;
}
:focus::-moz-placeholder {
  color: #eeeeee;
}
:focus:-ms-input-placeholder {
  color: #eeeeee;
}
select.placeholder {
  font-family: 'RobotoItalic';
}
option:first-child {
  font-family: 'RobotoItalic';
}
::-webkit-input-placeholder {
  font-family: 'RobotoItalic';
}
:-moz-placeholder {
  font-family: 'RobotoItalic';
}
::-moz-placeholder {
  font-family: 'RobotoItalic';
}
:-ms-input-placeholder {
  font-family: 'RobotoItalic';
}
/* This is to make phones happy. If we are doing a mobile version, uncomment the viewport tag in the layouts and remive this. */
html,
body {
  min-width: 320px;
  overflow: auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'RobotoLite';
  position: relative;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  outline: 0 !important;
}
a {
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto';
  outline: 0 !important;
}
a:hover {
  text-decoration: underline;
}
b {
  font-family: 'RobotoBold';
  letter-spacing: 1px;
}
html {
  height: 100%;
  position: relative;
}
div {
  overflow: auto;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 8px;
}
hr {
  border-left: 0;
  border-top: 0;
  margin: 8px 0 4px;
}
td {
  background-clip: padding-box;
}
p {
  margin: 4px 0;
}
body {
  color: #444444;
  min-height: 100%;
  position: relative;
}
/* blog */
.blog-title {
  color: #56b689;
}
.blog-time {
  display: inline-block;
  float: right;
  color: #444444;
  font-family: 'RobotoLiteItalic';
  font-size: 16px;
  padding-top: 4px;
}
.blog-wrap {
  padding: 10px;
}
/* sitemap */
.sitemap h1,
.sitemap h2,
.sitemap h3,
.sitemap h4,
.sitemap h5,
.sitemap h6 {
  margin: 4px 0;
  display: inline-block;
}
/* contact form */
#contact-form * * {
  position: static;
}
#contact-form h1 {
  margin: 0px 0;
}
#contact-form h2 {
  color: #222222;
  margin: 4px 0;
  font-size: 24px;
}
#contact-form input[type='text'],
#contact-form select,
#contact-form textarea,
#contact-form .customSelect {
  display: inline-block;
  width: 99.999999%;
  float: left;
  max-width: 100%;
  background: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 10px;
  text-align: left;
  height: 30px;
}
#contact-form input[type="text"] {
  padding: 2px 10px;
}
#contact-form input[type='submit'] {
  display: inline-block;
  width: 99.999999%;
  float: left;
  color: #ffffff;
  background: #56b689;
  font-family: 'Roboto';
  max-width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  border: 1px solid #56b689;
  height: 40px;
}
#contact-form input[type='submit']:hover {
  color: #444444;
}
#contact-form textarea {
  height: 108px;
  margin-bottom: 4px;
  padding-top: 4px;
}
#contact-form textarea.tall {
  height: 206px;
}
#contact-form .customSelect {
  padding: 4px 10px;
}
/* Important elements (main wrappers, footers, headers) */
.content-wrap {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}
.content-wrap h3 {
  color: #56b689;
  margin: 20px 0 0 0;
}
div#content-wrap {
  padding: 20px;
}
#topbar {
  height: 74px;
  margin: 0;
  padding: 0 10px;
  overflow: visible;
  background: #000000;
  line-height: 0px !important;
  letter-spacing: -3px;
  width: 99.999999%;
  float: left;
  border-bottom: 5px solid #56b689;
  min-width: 320px;
}
#topbar a {
  letter-spacing: 0px;
  display: inline-block;
  height: 0px;
  line-height: 0px;
  padding: 37px 2%;
  margin: 0px;
  color: #ffffff;
  float: right;
}
#topbar a img {
  padding-top: 2px;
  height: 65px;
}
#topbar a:hover,
#topbar a.active {
  color: #56b689;
  text-decoration: none;
}
#topbar a:first-child {
  padding: 0;
  height: 74px;
  float: left;
}
#footer {
  background: #000000;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
}
#footer a {
  color: #ffffff;
}
#footer a:hover,
#footer a.active {
  color: #56b689;
  text-decoration: none;
}
#footer hr {
  margin: 0;
}
#footer a {
  display: block;
  padding: 20px 0;
}
#footer a.w100pc {
  padding: 10px 0;
}
#seo {
  height: 1px;
  position: absolute;
  top: -1px;
  overflow: hidden;
}
.notifications,
.errors {
  max-width: 800px;
  margin: 10px auto;
  background: #eeeeee;
  color: #444444;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.errors {
  background: #56b689;
  color: #ffffff;
}
/* Forms and Fields */
input,
button,
select,
textarea,
.customSelect {
  background-color: #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #000000;
  height: 30px;
  width: 90%;
  /*    max-width:300px; */

  margin-bottom: 4px;
  text-align: center;
  color: black;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 20px;
}
input:focus,
button:focus,
select:focus,
textarea:focus,
.customSelect:focus {
  background-color: #ffffff;
}
textarea {
  height: 100px;
}
input[type="submit"],
input[type="button"],
button {
  background: #eeeeee;
  color: #000000;
  border: 1px solid #000000;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  /*
    background: @c0;
    color:@c8;
    border-color:@c0;
    */

  color: #000000;
  background-color: #ffffff;
}
input[type="text"] {
  padding: 0 8px;
}
input[type="textarea"] {
  padding: 4px 8px;
}
select {
  padding: 4px 4px;
}
select.placeholder {
  padding: 0 4px;
}
/* custom selects... */
.customSelect {
  padding: 4px 10px;
}
.customSelectInner {
  color: #444444;
  font-family: 'RobotoItalic';
  font-size: 16px;
  line-height: 20px;
}
.customSelectInner.good {
  color: black;
  font-family: 'Roboto';
}
.select-wrap {
  margin-bottom: 30px;
  overflow: visible;
  position: relative !important;
  height: 4px;
}
.select-arrow {
  position: absolute !important;
  top: 3px;
  right: 10px;
  color: #222222;
  pointer-events: none;
}
.overlay-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.5;
  display: none;
}
.overlay-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  display: none;
}
.center-wrap {
  max-width: 720px;
  margin: 0 auto;
  min-width: 320px;
}
/* fixing our plugins */
.chosen-single {
  height: 30px !important;
  display: block;
  font-size: 18px;
}
.chosen-single span {
  line-height: 26px !important;
}
.chosen-container {
  overflow: visible;
  text-align: left;
}
.chosen-container a span {
  line-height: 30px;
  text-align: center;
}
.chosen-search {
  overflow: visible;
}
.chosen-search input {
  max-width: 1000000px;
}
.projekktor * {
  overflow: visible;
}
.mce-close {
  background: #ffffff !important;
}
.mce-btn button {
  height: 28px !important;
  overflow: visible !important;
}
textarea.mce-textbox {
  max-width: 95%;
}
.mce-window {
  overflow: visible;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-accordion .ui-accordion-content {
  padding: 10px;
}
.ui-tabs .ui-tabs-nav {
  margin-bottom: 4px;
}
.ui-tabs .ui-tabs-nav li a {
  padding: 4px 8px;
}
.ui-tooltip {
  overflow: visible;
}
.ui-tooltip .ui-tooltip-content {
  overflow: visible;
}
input.full {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  margin-top: 4px;
}
table.full {
  width: 100%;
}
table.striped tr:nth-child(odd) td {
  background-color: #eeeeee;
}
table.padded tr td {
  padding: 8px;
}
iframe.section {
  border: 0;
  width: 99.9%;
  height: 100%;
  min-height: 700px;
}
#website-config input[type="text"] {
  margin: 0;
}
div.color-test {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

/*
----------------------------------------------------------------------------------------------------

  SCSS STYLES

  Everything ABOVE this is old css/less styles and should be ignored.

----------------------------------------------------------------------------------------------------
*/

@import 'includes/fonts',
        'includes/vars',
        'includes/mixins',
        'includes/placeholders',
        'admin/modules';

html,body {
  overflow: visible;
}