/*
----------------------------------------------------------------------------------------------------

    HELPERS

    Styles for re-useable stand-alone modifiers. 

----------------------------------------------------------------------------------------------------
*/

/*
--------------------------------------------------
  FLOATS
--------------------------------------------------
*/
@each $value in $float-list {
    .float-#{$value} {
        float: $value;
    }
}
.clearfix {
    @extend %clearfix;
}

/*
--------------------------------------------------
  ALIGNMENT
--------------------------------------------------
*/
@each $value in $align-list {
    .align-#{$value} {
        text-align: $value;
    }
}

/*
--------------------------------------------------
  LAYOUT
--------------------------------------------------
*/
.wrapper {
    @extend %grid-container;
}

/*
--------------------------------------------------
  SIZE
--------------------------------------------------
*/

/*
--------------------------------------------------
  COLOR
--------------------------------------------------
*/
.primary-color {
    color: $primary-color;
}

/*
--------------------------------------------------
  STICKY FOOTER
--------------------------------------------------
*/
.sticky-footer-wrapper {
    margin-bottom: ($footer-height*-1);
    min-height: 100%;
    /* Next two lines for IE6 support */
    height: auto !important; 
    height: 100%;

    .sticky-footer-push {
        height: $footer-height;
    }
}

