/* Main Colors */
$primary-color: #3B4E65;
$secondary-color: #B5ACA0;

/* Navigation */
$nav-height: 70px;
$nav-item-spacing: 40px;

$nav-bg-color: #3B4E65;
$nav-border-size: 5px;
$nav-border-color: #B5ACA0;

$nav-submenu-width: 200px;
$nav-submenu-height: 36px;
$nav-submenu-bg-color: #3B4E65;
$nav-submenu-border-size: 2px;
$nav-submenu-border-color: #B5ACA0;

/* Footer */
$footer-height: 180px;
$footer-bg-color: #3B4E65;

/* Main */
$content-vertical-spacing: 20px;