/*
----------------------------------------------------------------------------------------------------

    VARIABLES

    Values used throughout the stylesheet.

----------------------------------------------------------------------------------------------------
*/

/*
--------------------------------------------------
  COLORS
--------------------------------------------------
*/

/* Shades of White */
$white: #fff;
$white-1: darken($white,10);
$white-2: darken($white,20);
$white-3: darken($white,30);
$white-4: darken($white,40);
$white-5: darken($white,50);
$white-6: darken($white,60);
$white-7: darken($white,70);
$white-8: darken($white,80);
$white-9: darken($white,90);

/* Shades of Black */
$black: #000;
$black-1: lighten($black,10);
$black-2: lighten($black,20);
$black-3: lighten($black,30);
$black-4: lighten($black,40);
$black-5: lighten($black,50);
$black-6: lighten($black,60);
$black-7: lighten($black,70);
$black-8: lighten($black,80);
$black-9: lighten($black,90);

/* Notification Colors */
$info-color: #00c;
$sucess-color: #0c0;
$warning-color: yellow;
$error-color: #c00;

/*
--------------------------------------------------
  FONTS
--------------------------------------------------
*/

/* Roboto */
$roboto-font: Roboto, sans-serif;

/*
--------------------------------------------------
  UNSEMANTIC
  http://unsemantic.com/sass-documentation#2-default-variables
--------------------------------------------------
*/
$container-max-width: 980px;

/*
--------------------------------------------------
  THEME SETTINGS
--------------------------------------------------
*/

/* Main Colors */
$primary-color: #3B4E65; // Dark/royal blue
$secondary-color: #B5ACA0; // Lighter gray
$tertiary-color: green;

/* Navigation */
$nav-height: 70px;
$nav-item-spacing: 40px;

$nav-bg-color: $primary-color;
$nav-border-size: 5px;
$nav-border-color: $secondary-color;

$nav-submenu-width: 200px;
$nav-submenu-height: 36px;
$nav-submenu-bg-color: $nav-bg-color;
$nav-submenu-border-size: 2px;
$nav-submenu-border-color: $nav-border-color;

/* Footer */
$footer-height: 180px;
$footer-bg-color: $primary-color;

/* Main */
$content-vertical-spacing: 20px;


/*
--------------------------------------------------
  HOMEPAGE INTRO
--------------------------------------------------
*/

$homepage-intro-height: 400px;
$homepage-intro-img: "/assets/img/layout/homepage-intro.png";

/*
--------------------------------------------------
  PAGE HEADER
--------------------------------------------------
*/
$page-header-height: 339px;

/*
--------------------------------------------------
  MISC
--------------------------------------------------
*/
$float-list: left right;
$align-list: left center right;
$ul-style-list: disc circle square;
$ol-style-list: decimal decimal-leading-zero lower-roman upper-roman lower-greek lower-latin upper-latin armenian georgian lower-alpha upper-alpha;
$input-element-list: text password;